<!-- <section class="navigation">
  <ul class="navigation__items">
    <li><a href="#" class="navigation__item">About</a></li>
    <li><a href="#" class="navigation__item">Portfolio</a></li>
    <li><a href="#" class="navigation__item">Contact</a></li>
  </ul>
</section> -->

<div class="page">
    <div class="row">
        <div class="hero">
            <div class="hero__intro">
            <p class="hero__intro--title">Hey, I'm Rin</p>
            <p class="hero__intro--subtitle">Student | Junior Developer</p>
            <div class="hero__intro--image">
                <img src="assets/portfolio_face.jpg">
            </div>
            <div class="social">
                <ul class="social__items">
                <li><a href="https://github.com/irinaheimerle" target="_blank" class="icon-github-circled social__item"></a></li>
                <li><a href="https://twitter.com/alienpizzapanda" target="_blank" class="icon-twitter social__item"></a></li>
                <li><a href="https://www.linkedin.com/in/rin-heimerle-201397152/" target="_blank" class="icon-linkedin social__item"></a></li>
                </ul>
            </div>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="cards">
                    <div class="cards__grid">
                        <div class="cards__grid--title">
                            <select class="cards__grid--select" [(ngModel)]="selectedType" *ngIf="showSingle === false">
                                <option *ngFor="let type of portfolioTypes" class="cards__grid--option" [value]="type"> {{type}} </option>
                            </select>
                        </div>
                        
                        <!-- SECTION: PROJECT CARDS -->
                        <div class="row" *ngIf="selectedType === 'Featured Projects' && showSingle === false">
                            <div *ngFor="let project of featuredProjects; let i = index; ">
                                <div class="cards__grid--single">
                                    <a href="#" (click)="showSingleProject(project.slug, 'featured')"><img src="{{project.image}}" class="cards__grid--image" *ngIf="project.image !== ''"></a>
                                    <p class="cards__grid--subtitle">{{project.title}}</p>
                                    <p class="cards__grid--techs">{{project.techs}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="cards__grid--links">
                                <a href="#more" class="social__item" *ngIf="selectedType === 'Featured Projects' && showSingle === false" (click)="toggleMoreProjects();" style="text-decoration: underline;">{{showHide}}</a>
                            </div>
                        </div>

                        <!-- SECTION: SINGLE PROJECT -->
                        <div class="single" *ngIf="showSingle === true">
                            <button class="single__button" (click)="showSingle = false">X</button>
                            <div *ngIf="showSingle === true">
                                <div class="single__title">
                                    <p>{{currentProject.title}}</p>
                                </div>
                                <div class="single__image" *ngIf="currentProject.image != ''">
                                    <img class="single__image--src" src="{{currentProject.image}}">
                                    <img class="single__image--src" src="{{currentProject.imageLarge}}" *ngIf="currentProject.imageLarge !== ''">
                                </div>
                                <div class="single__description" *ngIf="currentProject.slug === 'space_pizza'">
                                    <p>Your Objective? Collect the slices of pizza before an asteroid hits you!</p>
                                    <p>Techs include: CreateJS, EaselJS, Adobe Animate</p>
                                    <p>Hardest Obstacle: collision detection</p>
                                </div>
                                <div class="single__description" *ngIf="currentProject.slug === 'tidal_bore'">
                                    <p>A Mobile Application for Colchestor Chamber of Commerce</p>
                                    <p>Features: Tidal Bore height, countdown, search by date, Google Maps Integration</p>
                                </div>
                                <div class="single__description" *ngIf="currentProject.slug === 'fourth_avenue'">
                                    <p>My first Wordpress build!</p>
                                    <p>Features: Advanced Custom Fields, Smarty PHP Templating, Gravity Forms</p>
                                    <a href="http://fourthavenue.codeandmortar.com/" target="_blank">View the site here!</a>
                                </div>
                                <div class="single__description" *ngIf="currentProject.slug === 'address_book'">
                                    <p>A PHP Application!</p>
                                    <p>Features: CRUD with MySQLI, Webpack JS, SCSS, CSV file reading / writing</p>
                                </div>
                                <div class="single__description" *ngIf="currentProject.slug === 'launchpad'">
                                    <p>A ASP.NET CORE Application</p>
                                    <p>Features: CRUD with MySQL, MVC Pattern, Bootstrap</p>
                                </div>
                            </div>
                        </div>

                        <!-- SECTION: ABOUT ME -->
                        <div *ngIf="selectedType === 'About Me'" style="padding-top: 50px;">
                            <div class="single">
                                <div class="single__image">
                                    <img src="assets/peggys_cove.jpg" class="single__image--src">
                                    <img src="assets/new_york.jpg" class="single__image--src">
                                </div>
                                <div class="single__description">
                                    <p>I'm a developer! Living in Nova Scotia, from New York</p>
                                    <p>I love Star Wars, and coffee.</p>
                                    <p>When I'm not working, I'm playing guitar, or watching TV</p>
                                </div>
                            </div>
                        </div>

                        <!-- SECTION: ABOUT ME -->
                        <div *ngIf="selectedType === 'Contact'" style="padding-top: 50px;">
                            <div class="single">
                                <div class="single__image">
                                    <img src="assets/card_image.jpg" class="single__image--src">
                                    <img src="assets/card_image.jpg" class="single__image--src">
                                </div>
                                <div class="single__description">
                                    <p>The best way to contact me is through<a class="social__item" href="mailto:irinaheimerle@gmail.com"> email!</a></p>
                                    <a class="social__item" href="assets/Irina Heimerle - Resume.pdf" download>Download my resume</a>
                                </div>
                            </div>
                        </div>

                        <div class="more" id="more">
                            <!-- SECTION: MORE PROJECTS | PART I -->
                            <div *ngIf="moreProjects === true">
                                <!-- SECTION: PROJECT CARDS -->
                                <div class="row" *ngIf="selectedType === 'Featured Projects' && showSingle === false">
                                    <div *ngFor="let project of firstRoundProjects; let i = index; ">
                                        <div class="cards__grid--single">
                                            <a href="#" (click)="showSingleProject(project.slug, 'first')"><img src="{{project.image}}" class="cards__grid--image" *ngIf="project.image !== ''"></a>
                                            <p class="cards__grid--subtitle">{{project.title}}</p>
                                            <p class="cards__grid--techs">{{project.techs}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- SECTION: MORE PROJECTS | PART II -->
                            <div *ngIf="moreProjects === true">
                                <!-- SECTION: PROJECT CARDS -->
                                <div class="row" *ngIf="selectedType === 'Featured Projects' && showSingle === false">
                                    <div *ngFor="let project of secondRoundProjects; let i = index; ">
                                        <div class="cards__grid--single">
                                            <a href="#" (click)="showSingleProject(project.slug, 'second')"><img src="{{project.image}}" class="cards__grid--image" *ngIf="project.image !== ''"></a>
                                            <p class="cards__grid--subtitle">{{project.title}}</p>
                                            <p class="cards__grid--techs">{{project.techs}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
