@import url('https://fonts.googleapis.com/css?family=Merienda+One|Quicksand');

$title_font_size: 40px;
$subtitle_font_size: 15px;

$blue: #6FB0B4;
$orange: #FC9D5D;
$dark_orange: #F99057;
$light_blue: #CFDEDB;
$beige: #E7E1D3;

$content-font: 'Quicksand', sans-serif;
$title-font: 'Merienda One', cursive;

body {background-color: $light_blue;}

.cards, .hero, .extra {margin-top: 25px;}

.cards, .extra {
    color: $dark_orange;
    background-color: $light_blue;
    padding: 10px;
    
    &__grid {
        &--single {
            text-align: center;
            padding: 25px;
        }

        &--image {
            border: 1px solid #6FB0B4;

            &:hover {
                cursor: pointer;
                opacity: .7;
            }
            
        }

        &--links {
            &--link {padding-right: 100px;}
        }
        
        &--select {
            background: transparent;
            line-height: 1;
            border: 0;
            padding: 0;
            border-radius: 0;
            min-width: 50%;
            font-size: $title_font_size;
            color: $dark_orange;
        }
    }
}

.hero {
    text-align: center;
    color: $dark_orange;
    background-color: $light_blue;
    width: 20%;
    padding: 0px 40px 40px 40px;
    max-height: 525px;
    
    &__intro {
        &--image {
            max-width:100%;
            height:auto;
        }

        &--title {
            font-size: $title_font_size;
            font-family: $title-font;
            margin-bottom: 0px;
        }
    
        &--subtitle {
            font-size: $subtitle_font_size;
            color: $blue;
        }
    }

    
}

.navigation, .social {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__items {
        display: flex; 
        list-style: none;
    }
    
    &__item {
        padding-right: 45px;
        text-decoration: none;
        color: $dark_orange;

        &:hover {
            color: $orange;
        }
    }
}

.page {
    background: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100wh;

    font-family: $content-font;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

// .row {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     width: 100%;
//   }
  
//   .column {
//     display: flex;
//     flex-direction: column;
//     flex-basis: 100%;
//     flex: 1;
// }

.single {
    text-align: center;
    height: 100%;
    padding: 0px 50px 0px 50px;
    
    &__button {
        float: right;
        background-color: $light_blue;
        color: $blue;
        border: 2px solid $dark_orange;

        &:hover {
            cursor: pointer;
            background-color: $beige;
        }
    }
    
    &__description {
        padding-top: 40px;
        font-size: $subtitle_font_size;
        color: $blue;
    }

    &__image {
        
        &--src {
            padding-left: 20px;
        }
    }

    &__title {
        padding-top: 10px;
        font-size: $title_font_size;
        color: $dark_orange;
    }
}