<!-- <section class="navigation">
  <ul class="navigation__items">
    <li><a href="#" class="navigation__item">About</a></li>
    <li><a href="#" class="navigation__item">Portfolio</a></li>
    <li><a href="#" class="navigation__item">Contact</a></li>
  </ul>
</section> -->

<div class="page">
    <div class="row">
        <div class="hero">
            <div class="hero__intro">
            <p class="hero__intro--title">Hey, I'm Rin</p>
            <p class="hero__intro--subtitle">Student | Junior Developer | Tired </p>
            <div class="hero__intro--image">
                <img src="../assets/portfolio_face.jpg">
            </div>
            <div class="social">
                <ul class="social__items">
                <li><a href="https://github.com/irinaheimerle" target="_blank" class="icon-github-circled social__item"></a></li>
                <li><a href="https://twitter.com/alienpizzapanda" target="_blank" class="icon-twitter social__item"></a></li>
                <li><a href="https://www.linkedin.com/in/rin-heimerle-201397152/" target="_blank" class="icon-linkedin social__item"></a></li>
                </ul>
            </div>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="cards">
                    <div class="cards__grid">
                        <div class="cards__grid--title">
                            <span>Featured Projects</span>
                        </div>
                        <div class="row">
                            <div class="cards__grid--single">
                                <img src="../assets/card_image.jpg">
                                <p class="cards__grid--test">SINGLE CARD TITLE</p>
                                <p class="cards__grid--subtitle">SINGLE CARD SUB</p>
                            </div>
                            <div class="cards__grid--single">
                                <img src="../assets/card_image.jpg">
                                <p class="cards__grid--test">SINGLE CARD TITLE</p>
                            </div>
                            <div class="cards__grid--single">
                                <img src="../assets/card_image.jpg">
                                <p class="cards__grid--test">SINGLE CARD TITLE</p>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="cards__grid--load">
                                <a href="#">Load More</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            
            <!-- <div class="row">
                <div class="extra">
                    <div class="extra__stuff">
                        <div class="cards__grid--title">
                            <span>Extra Stuff</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="extra">
                    <div class="extra__stuff">
                        <div class="cards__grid--title">
                            <span>Contact</span>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>